@model DanceSchool.DTO.Pair.PairCreateDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create Pair</h1>

<form asp-action="Create">
    <label>User 1:</label>


    <label>User 2:</label>


    <button type="submit">Create Pair</button>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>
